
<h1>All Contacts</h1>

<ul>
	<% @contacts.each do |contact| %>
		<li><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a></li>
		<a href='/contacts/<%= contact.id %>/show'>Show Contact</a>
		
		<a href='/contacts/<%= contact.id %>/edit'>Edit</a> <!-- get request -->
	<% end %>
</ul>


<!-- First  -->






<!-- to make a link for edit contact. -->
<!-- コンタクトメソッドは、アトリビューターから来ている。-->



