<h1>Edit a Contact</h1>

<form action="/contacts/<%= @contact.id %>" method="post">  
	<input type="hidden" name="_method" value="put">
	<input type="text" name="first_name" value="<%= @contact.first_name %>">
	<input type="text" name="last_name" value="<%= @contact.last_name %>">
	<input type="text" name="email" value="<%= @contact.email %>">
	<input type="text" name="note" value="<%= @contact.note %>">
	<input type="submit" name="Submit">
</form>

<form action="/contacts/<%= @contact.id %>" method="post">
	<input type="hidden" name="_method" value="delete"> <!-- We want to use delete Verb. -->
	<input type="submit" name="delete Contact" value="Delete This Contact">
</form>




